@import "tailwindcss";

.slideshow {
  animation: slideShow 18s infinite ease-in-out;
}

@keyframes slideShow {
  0% {
    background-image: url("./assets/1.jpg");
  }

  33% {
    background-image: url("./assets/2.jpg");
  }

  66% {
    background-image: url("./assets/3.jpg");
  }

  100% {
    background-image: url("./assets/4.jpg");
  }
}

/* mobile tweak so important parts of image stay visible */
@media (max-width: 640px) {
  .slideshow {
    background-position: center top;
  }
}